lombok.anyConstructor.addConstructorProperties=true
config.stopBubbling = true
#we should not use @Data since ToString gets overidden without calling super.toString() and a generated hashcode and equals that takes all members into acoount is almost always wrong from a business perspective
lombok.data.flagUsage=WARNING